<%- model_class = Statistics -%>
<div class="page-header">
  <h1>Estadisticas</h1>
</div>

<%= link_to "Comparación entre establecimientos", center_comparison_path %><br \><br \>

<%= link_to "Comparación de niveles de un mismo establecimiento", room_comparison_one_path %><br \><br \>

<!--<%= link_to "Comparación de niveles entre distintos establecimientos", { :controller => "statistics" }, :action => "show" %><br \><br \>-->

